* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 16px;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: thick solid black;
    width: 512px;
    height: 512px;
}

.red {
    background-color: red;
}